{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-3 pr-4 dont-move">
            <div class="profile-section">
            <article class="media content-section" style="height: auto; width: 100%">
                {%  if user_profile != None %}
                    <div class="mt-2 d-flex full-width align-items-center background-svg">
                        <img
                           class="rounded-circle mr-3 img-fluid"
                           style="width: 90px; height: 90px;"
                           src="{{ user_profile.profile.image.url }}">
                        <div>
                            <h4 style="text-align: center"
                                    class="white-important">
                                {{ user_profile.username }}
                            </h4>
                            <p style="text-align: center; margin-bottom:2rem"
                                                  class="white-important bio-panel">
                                              {{ user_profile.profile.bio }}
                                          </p>

                        </div>
                    </div>
                {%  else %}

                    <div class="mt-2 d-block full-width" style="text-align: center;">
                       <div class="dp-containter">
                        <img class="rounded-circle mr-3" style="width: 90px; height: 90px; margin-bottom:1rem;" src="{{ user.profile.image.url }}" id="userdp"  alt="{{ user.firstname }} {{ user.lastname }} " />
                            <h3 style="text-align: center; font-size:1.4em;"
                                    class="white-important">
                                {{ user.first_name }} {{ user.last_name }}
                            </h3>
                            <h4 style="text-align: center; font-size:1.2em;"
                                    class="white-important">
                                @{{ user.username }}
                            </h4>
                        </div>
                        <p style="text-align: left;"
                                class="white-important bio-panel">
                            {{ user.profile.bio }}
                        </p>
                    </div>

                {%  endif %}
            </article>
            <article class="media content-section" style="text-align:center">
                <div class="row full-width pl-2">
                    {%  if user_profile != None %}
                        <div class="col-6">
                            <h3 class="white-important follow-click" style="text-align: center;">
                                <a href="{% url 'user-followers' user_profile.username %}">
                                    {{ user_profile.profile.followers }}
                                </a>
                            </h3>
                        </div>
                         <div class="col-6">
                            <a href="{% url 'user-follows' user_profile.username %}">
                                <h3 class="white-important follow-click"  style="text-align: center;">
                                    {{ user_profile.profile.following }}
                                </h3>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-6">
                            <a href="{% url 'user-followers' user.username %}">
                                <h3 class="white-important follow-click" style="text-align: center;">
                                    {{ user.profile.followers }}
                                </h3>
                            </a>
                        </div>

                        <a href="{% url 'user-follows' user.username %}">
                            <div class="col-6" style="left: 50px;">
                                <h3 class="white-important follow-click" style="text-align: center;">
                                    {{ user.profile.following }}
                                </h3>
                            </div>
                        </a>
                    {%  endif %}
                    <div class="col-6" style="text-align: center;">
                            Followers
                    </div>
                    <div class="col-6" style="text-align:center">
                            Following
                    </div>
                </div>
            </article>

            <div class="d-flex">
                {% if user_profile is None %}
                <div style="margin-left: 40px">
                    <a class="btn btn-sm btn-outline-primary mb-4 mr-3 " href="{% url 'post-create' %}">
                        New Feed &nbsp;<i class="fa fa-comment"></i>
                    </a>
                </div>
                {% endif %}
                {%  if user_profile is not None and user_profile.id != user.id  and user.username != '' %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <button style="margin-left: 18px" class="btn btn-sm btn-outline-primary"
                                    name="{% if can_follow %}follow{% else %}unfollow{% endif %}"
                                    type="submit">
                                 {% if can_follow %}
                                     FOLLOW
                                 {% else %}
                                     UNFOLLOW
                                 {% endif %}
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="col-12 col-md-6 scrollable" >
            <div class="full-width row">
                <div class="col-6">
                    <h3 class="white-important mb-3">
                        Current Feeds
                    </h3>
                </div>
                 <div class="col-6 no-padding">
                    <h6
                            style="position: absolute; bottom: 0; right: 0"
                            class="white-important mb-3">
                        {{ page_obj.start_index }} - {{ page_obj.end_index }} of
                        {{ paginator.count }}
                    </h6>
                </div>
            </div>

            {% for post in posts %}
                <article class="media content-section hovered-tweet">
                <div style="width: 100%; word-break: break-all;">

                    <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                       <div
                               style="padding-left: 0px !important;"
                               class="col-8 no-padding d-flex align-items-center">
                           <img
                               class="rounded-circle mr-2"
                               style="width: 20px; height: 20px;"
                               src="{{ post.author.profile.image.url }}">
                           <a class="mr-2 white-important" href="{% url 'user-posts' post.author %}">
                               {{ post.author }}
                           </a>
                       </div>
                       <div class="col-4 d-flex flex-row-reverse no-padding align-items-center"
                            style="padding-right: 0 !important;">
                           {% if post.author == user %}
                                <a class="material-icons ml-2"
                                   style="font-size: 14px"
                                        href="{% url 'post-delete' post.id %}">clear</a>
                                <a class="material-icons ml-2"
                                   style="font-size: 14px"
                                        href="{% url 'post-update' post.id %}">update</a>
                            {%  endif %}
                       </div>
                   </div>
                    <div
                            class="mb-2"
                            style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)"></div>
                    <a
                            style="color: rgba(255, 255, 255, 0.5) !important;"
                            href="{% url 'post-detail' post.id %}">
                        <p class="mb-4">
                            {{ post.content }}
                        </p>
                    </a>

                        <div class="row">
                            <div class="col-6" style="display: flex;">
                                <small style="opacity: 0.4;">

                                    <!-- Like Buttons Here -->
                                    <a href="#" onClick="document.getElementById('likebutton').submit()">
                                            {% if post.likes >= 1  %}
                                              <i style="color: red; font-size: 16px;" class="fa fa-heart"></i>
                                            {% else %}
                                              <i style=" font-size: 16px;" class="fa fa-heart"></i>
                                            {% endif %}

                                             {{post.likes}}

                                    </a>

                                    <form id="likebutton" method="POST" action="{% url 'postpreference' post.id 1%}">
                                    {% csrf_token %}
                                    <input type="hidden">
                                    </form>


                                </small>
                                <small style="opacity: 0.4; margin-left:15px;">
                                    <a href="/post/{{post.id}}/">
                                        <i style=" font-size: 16px;" class="fa fa-comment"></i> {{ post.number_of_comments }}
                                    </a>

                                </small>
                            </div>
                            <div class="col-6">
                                <small
                                        style="opacity: 0.4;"
                                    class="white-important d-flex full-width flex-row-reverse">
                                    {{ post.date_posted | date:"H:i l, d.m.y" }}
                                </small>
                            </div>
                        </div>

                </div>
                </article>
            {% endfor %}

            <div class="full-width d-flex justify-content-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page=1">First</a>
                        <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-sm btn-info mb-4 mr-2"
                                href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                                href="?page={{ page_obj.next_page_number }}">Next</a>
                           <a class="btn btn-sm btn-outline-secondary mb-4 mr-2"
                            href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <!-- ENLARGE DP -->
        <div id="dp" class="modal">
          <div class="content">

            {%  if user_profile != None %}
            <div class="card">
              <span class="close">&times;</span>
              <div class="firstinfo"><img  id="dp_image" />
                <div class="profileinfo">
                  <h1>{{user_profile.first_name}} {{user_profile.last_name}}</h1>
                  <h3>@{{user_profile.username}}</h3>
                  <p class="bio"></p>
                </div>
              </div>
            </div>
            <div class="badgescard"> <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span></div>

            {%  else %}
            <div class="card">
              <span class="close">&times;</span>
              <div class="firstinfo"><img  id="dp_image" />
                <div class="profileinfo">
                  <h1>{{user.first_name}} {{user.last_name}}</h1>
                  <h3>@{{user.username}}</h3>
                  <p class="bio">
                    Register No. <span>{{user.profile.registrationnumber}}</span><br>
                    Deparment <span>{{user.profile.department}}</span> <br>
                    Designation <span>Student</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="badgescard">
              <p class="data" >📧 {{user.email}}</p>
              <p class="data" >📞 {{user.profile.contact}}</p>
            </div>

            {% endif %}
          </div>
      </div>







        <div class="col-12 col-md-3 dont-move">
            <form action="{% url 'search' %}" method="post">{% csrf_token %}
                <div class="search-container">
                    <div class="search">
                    <input required name="search" type="text" id="zip-code-input" placeholder="Search Nexus">
                    <button type="submit" style="border:0; background: transparent;"><i class="fa fa-search"></i> </button>
                </form>
              </div>
            </div>
            <h3 class="white-important mb-3 mt-4"> Trends </h3>

                {%  if user_profile is None %}

                <article class="t-section media content-section">

                    <div class="row ">
                        <div class="col-12">
                            <h3 style="font-size: 16px;text-align: center;">Profile Suggetions</h3>
                        </div>
                        <ul class="col-12 mt-2">
                            {% for user in all_users %}
                                <li>
                                    <div class="who-to-follow">

                                        <div
                                               style="padding-left: 0px !important;"
                                               class="col-8 no-padding d-flex align-items-center">
                                           <img
                                               class="rounded-circle mr-2"
                                               style="width: 20px; height: 20px;"
                                               src="{{ user.profile.image.url }}">
                                           <a class="mr-2 white-important" href="{% url 'user-posts' user.username %}">
                                               {{ user.username }}
                                           </a>
                                       </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    </div>

                </article>
                {% endif %}
                <p>
                  <a href="">Terms & Conditions</a><br>
                  <a href="">Privacy Policy</a><br>
                  <small style="color:white; text-transform:uppercase;font-size: 10px;">
                    Made with ❤ by <img src="../../media/sk.png" style="width:20%;margin-bottom: 6px;"/>
                  </small>
                </p>

        </div>

    </div>


    <script>
    var modal = document.getElementById("dp");
    var img = document.getElementById("userdp");
    var modalImg = document.getElementById("dp_image");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
    }
   var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
    </script>
{% endblock content %}
